@model FormBuilder.ViewModels.FormFieldViewModel
<label data-sub-channel="sub-label-@Model.DomId" class="label editable">@Model.Label</label>
<span class="required @Model.IsRequired.OutputIfTrue("visible","hidden")">*</span>
<div class="input">
<ul class="option-list vertical-list">
   @{var checkedAttribute = "";}  
   @foreach (var option in Model.Options.Split(","))
   {
       
       <li>       
           @if (Html.IsTempFormValueSelected(Model, option))
           {
               checkedAttribute = "checked=\"checked\"";
           }
           else {
               checkedAttribute = "";
           }
           
           <input id="SubmitFields[@Model.DomId].Checkbox" name="SubmitFields[@Model.DomId].Checkbox" @checkedAttribute type="checkbox" value="@option" /><label>@option</label>
       </li>
   }
</ul>
@if (Model.IsEditMode())
{
@Html.Partial("_form-field-properties-partial", Model)
}

@if (!Model.Errors.IsNullOrEmpty())
{
  <span class="field-validation-error">@Model.Errors</span>
}
</div>
<a href="javascript:void(0);" title="@Model.HelpText" class="help-icon-1 help-icon @Model.HelpText.OutputIfIs("", "hide") w-tip">
  <img src="@Html.SpacerImage()" alt="help" />
</a>

@if (Model.IsEditMode())
{
@Html.Partial("_form-field-settings-template")
}


